<h1>Tasks: <%= @task.name %></h1>
<p>id: <%= @task.id  %> </p>
<p>content: <%= @task.content  %> </p>
<p>created at: <%= @task.created_at %> </p>
<p>updated at: <%= @task.updated_at %> </p>

<p><%= link_to "index", tasks_path %></p>
